.fond {
    text-align: center;
}
html {
    font: 16px ;
    margin: 0;
    padding: 0;
    color: whitesmoke;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    text-transform: uppercase;

}

.calculInteret {
    text-align: center;
    background-color: brown;
    color: white;
    padding: 5rem;
    border: 10px;
    border-color: ivory;
    margin: 0.5rem;
}

div {
    flex-grow: inherit;
}

.calcul{
    
    border-color: ivory;
    border: 3rem;
}